@import 'material-icons/iconfont/material-icons.css';

html {
  background-color: hsl(0, 0%, 95%);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.no-shadow {
  box-shadow: none;
}

.like-button {
  transition: color 0.3s ease;
}

.is-max-desktop {
  max-width: 750px;
}

.navbar .navbar-item {
  color: black;
}

.button.is-small.is-light.has-background-white {
  color: black;
}

.button.is-small.is-light.has-background-white:hover {
  color: #485fc7;
}

.btn:hover {
  background-color: #485fc7 !important;
}

.post {
  background-color: transparent;
  border: none;
  box-shadow: none;
  resize: none;
}

.post:focus {
  outline: none !important;

}

.label {
  color: black;
}

a {
  color: black;
}

a:hover {
  color: #485fc7;
}

.input {
  box-shadow: none;
}